*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "montserrat";
}

ul{

    list-style: none;
}

.container{
    max-width: 1132px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 36px;
}

.input-form input{
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    padding: 8px 16px 8px 16px;
    box-sizing: border-box;
    margin-right: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.input-form input:hover{
    border: 1px solid #000;
}

.input-form input:focus{
    border: 1px solid #4e75ff;
    outline: none;
}

.input-form input::placeholder{
    color: #808080;
}

.submit-btn{
    background: #4e75ff;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
}

.submit-btn:hover{
    background: #6c8cff;
}

.gallery-container{
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    list-style: none;
    
}

.image-item{
    width: 360px;
    border: 1px solid #808080;

}
.image-item img{
    width: 100%;
    height: 152px;
    object-fit: cover;
}

.image-info-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.image-info-list h2{
    font-weight: 600;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.image-info-list p{
    font-weight: 400;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.04em;
    color: #2e2f42;
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;
    display: none;
    top: 35%;
}

.loader:before,
.loader:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;
}

.loader:after {
    box-shadow: 0 2px 0 #6c8cff inset;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

.load-more-btn {
    margin-top: 16px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    background-color: #4e75ff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.load-more-btn:hover {
    background-color: #6c8cff;
}
